

@import url("https://fonts.google.com/specimen/Lato?category=Sans+Serif");



:root {
    --bs-body-font-family: "Lato", sans-serif;
    --bs-body-font-size: 0.9rem;
    --bs-body-font-weight: 500;

}



h1,
h3,
h4,
h5,
h6,
strong {
    font-weight: 500;
}
h2,{
    font-weight: 800;
}


#fondo-con-imagen {
    height: 60vh;
    background-image: url("img/maternity2.jpg");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;

